services:
	moduleManager:
		setup:
			- addModule(Crm\SlspSporopayModule\SlspSporopayModule())

	- Crm\SlspSporopayModule\Seeders\ConfigsSeeder
	- Crm\SlspSporopayModule\Seeders\PaymentGatewaysSeeder
	- Crm\SlspSporopayModule\Gateways\SlspSporopay
	- Crm\SlspSporopayModule\MailConfirmation\SlspMailDownloader
	- Crm\SlspSporopayModule\MailConfirmation\SlspNotificationMailDownloader(%tempDir%)
	- Crm\SlspSporopayModule\Commands\SlspMailConfirmationCommand

	gatewayFactory:
		setup:
			- registerGateway(slsp_sporopay, Crm\SlspSporopayModule\Gateways\SlspSporopay)
