config:
    sharedsecret:
        name: "SLSP Sporopay secret"
        description: "Heslo poskytnuté bankou na podpisovanie requestov (napr. 1234abcd)"
    accountnumberprefix:
        name: "SLSP Sporopay predčíslie účtu"
        description: "Predčíslie účtu obchodníka (napr. 999999)"
    accountnumber:
        name: "SLSP Sporopay číslo účtu"
        description: 'Číslo účtu obchodníka (napr. 1234567890)'
    specificsymbol:
        name: "SLSP Sporopay špecifický symbol"
        description: 'Špecifický symbol, ktorý sa má použiť pri platbe (napr. 1122334455)'
    mode:
        name: "SLSP Sporopay mód"
        description: 'Mód, v ktorom platobná brána bude inicializovaná ("test" alebo "live")'
    slsp_confirmation_host:
        name: SLSP host
        description: "IMAP host pre pripojenie (napr. imap.gmail.com) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
    slsp_confirmation_port:
        name: SLSP port
        description: "IMAP port pre pripojenie (napr. 993) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
    slsp_confirmation_username:
        name: SLSP username
        description: "IMAP prihlasovacie meno pre pripojenie (napr. example@gmail.com) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
    slsp_confirmation_password:
        name: SLSP password
        description: "IMAP heslo pre pripojenie (napr. password) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
    slsp_confirmation_processed_folder:
        name: SLSP zložka
        description: "IMAP zložka do ktoreho sa presunie email po spracovani (napr. INBOX/processed) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
    slsp_notification_confirmation_host:
        name: SLSP notifikacia host
        description: "IMAP host pre pripojenie (napr. imap.gmail.com) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
    slsp_notification_confirmation_port:
        name: SLSP notifikacia port
        description: "IMAP port pre pripojenie (napr. 993) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
    slsp_notification_confirmation_username:
        name: SLSP notifikacia username
        description: "IMAP prihlasovacie meno pre pripojenie (napr. example@gmail.com) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
    slsp_notification_confirmation_password:
        name: SLSP notifikacia password
        description: "IMAP heslo pre pripojenie (napr. password) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
    slsp_notification_confirmation_processed_folder:
        name: SLSP notifikacia zložka
        description: "IMAP zložka do ktoreho sa presunie email po spracovani (napr. INBOX/processed) (<a href='https://github.com/remp2020/crm-slsp-sporopay-module#confirmation-e-mails' target='_blank'>info</a>)"
